[build]
  base = "frontend"
  publish = ".next"
  command = "pnpm install && pnpm --filter frontend run build"

[[plugins]]
  package = "@netlify/plugin-nextjs"

[build.environment]
  NODE_VERSION = "18"

